<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi?</title>

    <style>
        .FirstTitle {
            text-align: center;
        }
        img {
            width: 200px;
            height: 200px;
        }
        a {
            margin-right: 10px;
        }
        p {
            text-align: center;
        }
        .view {
            display: flex;
            justify-content: center;
        }
    </style>


</head>
<body>
    <div class="FirstTitle">
        <a href="http://127.0.0.1:8000/app/main/n">
            <h1>HOME</h1>
        </a>
    </div>
    
    <div class="view">
        <a href="1">
            <div>
                <img src="http://kofice.or.kr/dext5editordata/2017/12/20171201_095218745_62949.jpg" alt="">
            </div>
            <div>
                <p>한식</p>
            </div>
    </div>
</body>
</html>